<h1>Edit: <%=@recipe.name%></h1>

<form class="form-group" action="/recipes/<%=@recipe.id%>" method="post">
  <input type="hidden" name="_method" value="patch">

  <div class="form-group">
    <label for="recipe_name">Name</label>
    <input type="text" name="recipe_name" class="form-control" value='<%=@recipe.name%>' placeholer="e.g. Chicken Stir Fry">
  </div>
  <div class="form-group">
    <label for="recipe_category">Category</label>
    <input type="text" name="recipe_category" class="form-control" value='<%=@recipe.category%>' placeholer="e.g. Italian">
  </div>
  <div class="form-group">
    <label for="recipe_rating">Rating</label>
    <input type="text" name="recipe_rating" class="form-control" value='<%=@recipe.rating%>' placeholer="e.g. 1-5">
  </div>
  <div class="form-group">
    <label for="recipe_ingredients[]">Ingredient Name</label>
    <div id="ingredients">
      <%@recipe.ingredients.each do |ingredient|%>
      <input type="text" name="recipe_ingredients[]" class="form-control" value='<%=ingredient.name%>' placeholer="e.g. Chicken">
      <%end%>
    </div>
  </div>
  <div class="form-group">
    <label for="recipe_measurements[]">Measurement</label>
    <div id="measurements">
        <%@recipe.ingredients.each do |ingredient|%>
        <input type="text" name="recipe_measurements[]" class="form-control" value='<%=ingredient.measurement%>' placeholer="e.g. 3 cups">
        <%end%>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>

</form>

<button id="add_ingredient">Add Another Ingredient!</button>
<br></br>
<a href="/" class='btn btn-primary'>Home</a>

<script>
$(document).ready(function(){
  html_first = '<input type="text" name="recipe_ingredients[]" class="form-control" id="ingredients_';
  html_last = '"  placeholer="e.g. Chicken">';
  html_first_m = '<input type="text" name="recipe_measurements[]" class="form-control" id="ingredients_';
  html_last_m = '"  placeholer="e.g. Chicken">';
  counter = 1;
  $('#add_ingredient').click(function(){
    counter += 1;
    $("#ingredients").append(html_first + counter + html_last);
    $("#measurements").append(html_first_m + counter + html_last_m);
  });
});
</script>
