<h2><%= @recipe.name %></h2>

<table class="table">
  <tr>
    <th>Ingredients</th>
    <th>Measurement</th>
  </tr>
  <% @ingredients.each do |ingredient| %>
    <tr>
      <td><%= ingredient.name %></td>
      <td><%= ingredient.measurement %></td>
    </tr>
  <% end %>
</table>

<p><strong>Category:</strong> <%= @recipe.category %></p>
<p><strong>Rating:</strong> <%= @recipe.category %></p>

<a href="/recipes/<%=@recipe.id%>/edit" class='btn btn-primary'>Edit Recipe</a>
<a href="/recipes/<%=@recipe.id%>/delete" class='btn btn-primary'>Delete Recipe</a>
<a href="/" class='btn btn-primary'>Home</a>
