<h2 class="text-center recipe-heading"><%= @recipe.name %></h2>

<table class="table table-striped">
  <tr>
    <th>Ingredients</th>
    <th>Measurement</th>
  </tr>
  <% @ingredients.each do |ingredient| %>
    <tr>
      <td><%= ingredient.name %></td>
      <td><%= ingredient.measurement %></td>
    </tr>
  <% end %>
</table>

  <p class="category"><strong>Category:</strong> <%= @recipe.category %></p>
  <p class="category"><strong>Rating:</strong> <%= @recipe.category %></p>

<div class="text-center nav-buttons">
  <a href="/recipes/<%=@recipe.id%>/edit" class='btn btn-warning'>Edit Recipe</a>
  <a href="/recipes/<%=@recipe.id%>/delete" class='btn btn-danger'>Delete Recipe</a>
  <a href="/" class='btn btn-primary'>Home</a>
</div>
